h1{
  font: italic small-caps bold 16px/2 cursive;
}

h2{
  font: italic small-caps bold 16px/2 cursive;
}

button {
  background-color: #FDF5E6;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.card{
  background-color: #BC8F8F;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
